.game-content {
  display: flex;
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  margin: 20px;
  margin-bottom: 40px;
}

.boxscore-section {
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  margin: 20px;
}

.dark-mode .boxscore-section,
.dark-mode .game-content {
  background-color: #2d2d2d;
  border: none;
}
